{% extends 'base.html.twig' %}

{% block title %}New StageApprentissage{% endblock %}

{% block body %}
    <h1>Create new StageApprentissage</h1>

    {{ include('stage_apprentissage/_form.html.twig') }}

    <a href="{{ path('app_stage_apprentissage_index') }}">back to list</a>
{% endblock %}
