{% extends 'base.html.twig' %}

{% block title %}Nouveau stage/apprentissage{% endblock %}

{% block body %}
    <h1>Nouveau stage/apprentissage</h1>

    {{ include('stage_apprentissage/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_stage_apprentissage_index') }}">retour</a>
{% endblock %}
