{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
    <h1>Nouvelle Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_entreprise_index') }}">retour</a>
{% endblock %}
