body {
    background-image: url('../image/FND_logo_PRO-LR.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}

footer {
    margin-top: 5%;
    position: relative;
    bottom: 0;
}