{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<h1>Formation</h1>

<a class="btn btn-primary" href="{{ path('app_etude_new') }}">Nouvelle formation</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom formation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etude in etudes %}
            <tr>
                <td>{{ etude.NomEtude }}</td>
                <td>
                    <a class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" href="{{ path('app_etude_show', {'id': etude.id}) }}">👀</a>
                    <a class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" href="{{ path('app_etude_edit', {'id': etude.id}) }}">✏</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
