{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Nouvelle Formation</h1>

    {{ include('etude/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_etude_index') }}">retour</a>
{% endblock %}
