{% extends 'base.html.twig' %}

{% block title %}Nouvelle étudiant{% endblock %}

{% block body %}
    <h1>Nouvelle étudiant</h1>

    {{ include('etudiant/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_etudiant_index') }}">retour</a>
{% endblock %}
